<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<form th:object="${entry}" method="post" th:action="@{/blog/new}">

    <div class="form-group">
    <label for="title">Title</label>:
    <input type="text" class="form-control" th:field="*{title}" id="title">
    </div>
    <div class="form-group">

    <label for="body">Body</label>:
    <textarea type="text" class="form-control" th:field="*{body}" id="body"></textarea>
    </div>

    <div class="form-group">
    <label for="body">Writer</label>:
    <input type="text" class="form-control" th:field="*{writer}" id="writer">
    </div>

    <input type="submit" class="btn btn-primary" value="Create">


</form>
</body>
</html>